<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Comtravo</h1>
    <p class="lead">Find your flight</p>
  </div>
  <div class="container">
    <div class="row">
      <form class="col-md-6 col-md-offset-3">

        <div class="form-group">
         <input type="text" ng-model="main.origin" class="form-control" id="origin" placeholder="Origin">
        </div>
        <div class="form-group">
          <input type="text" ng-model="main.destination" class="form-control" id="destination" placeholder="Destination">
        </div>
        <div class="form-group">
         <input type="number" ng-model="main.numPassengers" class="form-control" id="passengerNo" placeholder="Number of Passengers">
        </div>
        <div class="form-group">
          <input type="text" ng-model="main.maxAmount" class="form-control" id="maxAmount" placeholder="Max Amount">
        </div>
        <div class="form-group">
         <input type="date" ng-model="main.date" class="form-control" id="startDate" placeholder="yyyy-MM-dd">
        </div>
        <button class="btn btn-default" ng-click="main.searchFlights()">SEARCH</button>
      </form>

    </div>
</header>
<div class="alert alert-danger" ng-show="main.alert != ''" role="alert">{{ main.alert }}</div>
<div id="loading" ng-show="main.loading" class="form-group">
    <div class="col-md-12 text-center">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
</div>
<br/>
<br/>
<div class="container">
  <div class="row" ng-repeat="trip in main.trips">
    <div class="panel panel-default" >
      <div class="panel-body">
        <div>Price: {{ trip.saleTotal }}</div>
        <div>Departure: {{ trip.departureTime | date: "dd/MM/yyyy hh:mm" }}</div>
        <div>Arrival: {{ trip.arrivalTime | date: "dd/MM/yyyy hh:mm" }}</div>
        <div>Number of stops: {{ trip.stopCount }}</div>
        <br/>
        <button type="button" class="btn btn-primary" ng-click="trip.isCollapsed = !trip.isCollapsed">Show more</button>
        <div collapse="trip.isCollapsed">
        <hr/>
          <div class="well" ng-repeat="leg in trip.legs">
            <div>Carrier: {{ leg.carrier }}</div>
            <div>Flight No.: {{leg.flightNumber}}</div>
            <div>Origin: {{leg.origin}}</div>
            <div>Destination: {{leg.destination}}</div>
            <div>Departure: {{ leg.departureTime | date: "dd/MM/yyyy hh:mm" }} </div>
            <div>Arrival: {{ leg.arrivalTime | date: "dd/MM/yyyy hh:mm" }} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
